{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}{% endblock %}
</head>{% endblock %}<body class="{{body_class}}" data-template="base.twig">
{{ function('wp_body_open') }}
<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
<header class="header">
	{% block header %}

		<div class="bg-cream wrapper">
			<div class="pt-8 flex justify-center items-center">
				<a class="hdr-logo-link" href="{{site.url}}" rel="home">
					<img src="http://cm2/wp-content/uploads/2024/04/asset-black.png" class="h-[3rem] w-[3rem] hdr-logo " role="banner" >
					
					</a>
				
			</div>
			<nav id="nav-main" class="nav-main  py-8" role="navigation">
				{% include "menu.twig" with {'items': menu.get_items} %}
			</nav>
			<!-- #nav -->
		</div>
	{% endblock %}
</header>

<section id="content" role="main" class="content-wrapper">
	{% if title %}
		<!-- this title comes from the base.twig file -->
		<h1 class="font-bold text-4xl p-[2rem] uppercase flex justify-center bg-yellow text-primary">{{title}}</h1>
	{% endif %}
	<div class="">
		{% block content %}
			Sorry, no content
		{% endblock %}
	</div>
	{% if sidebar %}
		<aside class="layout-sidebar">
			{{sidebar}}
		</aside>
	{% endif %}
</section>

{% block footer %}
	<footer id="footer" class="bg-yellow h-[4rem]">
		{% include 'footer.twig' %}
	</footer>
	{{ function('wp_footer') }}
{% endblock %}</body></html>
