{# TEMPLATE: home page #}

{% extends "base.twig" %}

{% block content %}
	
	<div class="p-7 bg-[url('nishi.jpg')] content-wrapper h-[55rem] bg-cover   " >
		<article class="w-1/2 relative top-40 left-40 post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="bg-black/50  article-content rounded ">
				<h1 class="px-5 pt-5  text-white text-[2.5rem] article-h1">Canberra Modern</h1>
				
					<div class="text-white p-5 article-body">
					{{post.content}}
					</div>
					
			</section>

			
		</article>
	</div>

<section class="bg-cream h-screen flex justify-center items-center">
	
	<div class="flex items-center"> 

		<img src="http://cm2/wp-content/uploads/2022/08/rsw_1160-5-1024x681.webp" alt="" class="wp-image-202 flex justify-center h-[45rem] rounded"/> 
	</div>
	
</section>

			
	<div
		class="debug p-8 bg-debug">
		{# useful for debugging, delete later #}
		<h1 class="text-blue-600">Debug info</h1>

		<p class="pb-4">post name:
			{{post.name}}</p>

		<p>file name: page-home.twig</p>

		{# Output what is in the post #}
		{# {{dump(post)}} #}
	</div>

	<!-- /content-wrapper -->
{% endblock %}
