{# TEMPLATE: DEFAULT PAGE #}

{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper test">


		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="a srticle-h1">{{post.title}}</h1>
				{% if post.title == 'About' %}
					<div class="justify-center grid grid-cols-3 article-body *:w-1/ bg-cream">
					{{post.content}}
					</div>
				{% elseif post.title == 'Galleries'  %}
					<div class="article-body">
					 {{post.content}}	
					</div>
				{% endif %}
			</section>
		</article>
	</div>

	<div
		class="debug p-8 bg-debug">
		{# useful for debugging, delete later #}
		<h1>Debug</h1>

		<p class="pb-4">post name:
			{{post.name}}</p>

		<p>file name: page.twig</p>

		{# Output what is in the post #}
		{# {{dump(post)}} #}
	</div>

	<!-- /content-wrapper -->
{% endblock %}
