{# TEMPLATE: DEFAULT PAGE #}


{% extends "base.twig" %}






{% block content %}
   <div class="content-wrapper test">
       <article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
           <section class="article-content bg-yellow">
               <h1 class="bg-primary article-h1 font-bold text-2xl p-8 uppercase flex justify-center text-white">{{post.title}}</h1>
               {% if post.title == 'About' or post.title == 'Partners' or post.title == 'Supporters' %}
                   <div class="article-body grid grid-cols-3 gap-4 px-60 py-[6rem] *:bg-white *:flex *:justify-center relative *:p-14 text-sm">
                       {{post.content}}
                   </div>
               {% elseif post.title == 'Galleries'  %}
                   <div class="slideshow-container py-9 ">
                       <div class="carousel">


                       </div>
                       <div class="hidden">
                           {{ post.content|raw }}
                       </div>
                   </div>
               {% endif %}
           </section>
       </article>
   </div>


   <div class="debug p-8 bg-[#FFF9E0]">
       {# useful for debugging, delete later #}
       <h1>Debug</h1>
       <p class="pb-4">post name: {{post.name}}</p>
       <p>file name: page.twig</p>
       {# Output what is in the post #}
       {# {{dump(post)}} #}
   </div>


   <!-- /content-wrapper -->

   {% if post.title == 'Galleries' %}
       <script>
           let carousel = document.querySelector(".carousel");
           let gallery = document.getElementsByClassName("wp-block-gallery")[0];
           let imgs = gallery.querySelectorAll("img");
          
           imgs.forEach(function (img){
               // set attribute for img
               img.style.width = '100%';
               img.style.height = '100%';


               // set attribute for slide
               div = document.createElement("div");
               div.setAttribute("class", "slide");
               div.style.width = '100%';
               div.style.height = '100%';
               div.style.padding = '1rem 3rem';


               // add img into slide
               div.appendChild(img);


               // add slide into carousel
               carousel.appendChild(div);
           });


           // add prev & next button to change slide
           carousel.innerHTML += `
               <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
               <a class="next" onclick="changeSlide(1)">&#10095;</a>`;


           var slideIndex = 1;


           function changeSlide(n) {
               showSlide(slideIndex += n);
           }


           function showSlide(n) {
               var slides = document.querySelectorAll('.slide');
               if (n > slides.length) { slideIndex = 1 }
               if (n < 1) { slideIndex = slides.length }
               for (var i = 0; i < slides.length; i++) {
                   slides[i].style.display = "none";
               }
               slides[slideIndex - 1].style.display = "block";
           }


           showSlide(slideIndex);
       </script>
   {% endif %}


{% endblock %}