{# TEMPLATE: home page #}

{% extends "base.twig" %}

{% block content %}

	<div
		class="content-wrapper">
		{# DEFAULT PAGE CONTENT #}
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<img src="http://cm2/wp-content/uploads/2022/08/rsw_1160-5.webp" class="w-full h-[56rem] object-cover object-bottom ">
			<section class="article-content">
				<h1 class="text-yellow text-9xl text-left  article-h1 absolute top-[56rem] w-20 pl-24">{{post.title}}</h1>
				<div class="article-body mt-20">
					{{post.content}}
				</div>
			</section>
		</article>

		{# BUILDINGS #}
		<section>
			<h2 class="text-yellow"></h2>
			<ul class="">
				{# loop through the buildings returned #}
				{% for building in buildings %}
					{# load the building tease template #}
					{% include 'tease-buildings.twig' with { post: building} %}
				{% endfor %}
			</ul>

		</section>
	</div>

	<div
		class="debug p-8 bg-cream">
		{# useful for debugging, delete later #}
		<h1>Debug info</h1>

		<p class="pb-4 bg-cream">post name:
			{{post.name}}</p>

		<p>file name: page-home.twig</p>

		{# Output what is in the post #}
		{# {{dump(post)}} #}
	</div>

	<!-- /content-wrapper -->
{% endblock %}

