{# TEMPLATE: home page #}

{% extends "base.twig" %}

{% block content %}
	
	<div class="p-7 bg-[url('nishi.jpg')] content-wrapper h-[55rem] bg-cover   " >
		<article class="w-1/2 relative top-40 left-40 post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="bg-black/50  article-content rounded ">
				<h1 class="px-10 pt-10  text-white text-[2.5rem] article-h1 font-bold">Conservation Through Participation</h1>
				
					<div class="text-white p-10 article-body space-y-4">
					{{post.content}}
					</div>
					
			</section>

			
		</article>
	</div>

<section class="bg-cream h-screen flex justify-center items-center">
	
	<div class="flex items-center"> 
		<div class="px-10 absolute bg-black/50 text-white h-[40rem] w-1/4 rounded-r-md right-[29.5rem]">
			<h3 class="text-[2.5rem] pt-10 font-bold">Canberra's Modern</h3>
			<p class="py-10"> 20 buildings might seem a lot, but in a city that grew up in the mid-century period that showcases work from some of Australia’s most renowned architects, it is almost impossible to narrow the list to just 20!</p>
			
			<a class="hover:text-yellow hover:bg-black bg-yellow  text-white rounded p-2 font-bold border-solid border-2 hover:border-yellow" href="http://cm2/canberras-modern/">Read More</a>
		</div>
		
		<img src="http://cm2/wp-content/uploads/2023/10/rsw_1160-6.webp" alt="" class="wp-image-202 flex justify-center h-[40rem] w-[60rem] rounded object-cover"> 

		
	</div>
	
</section>

			
	<!-- <div
		class="debug p-8 bg-debug invisible">
		{# useful for debugging, delete later #}
		<h1 class="text-blue-600">Debug info</h1>

		<p class="pb-4">post name:
			{#{{post.name}}#}</p>

		<p>file name: page-home.twig</p>

		{# Output what is in the post #}
		{# {{dump(post)}} #}
	</div> -->

	<!-- /content-wrapper -->
{% endblock %}
