{# TEMPLATE: SINGLE EVENTS.twig #}


{% extends "base.twig" %}


{% block content %}
   <div class="content-wrapper text-center bg-black text-white"> <!-- Changed background to cream -->
       <article class="post-type-{{ post.post_type }} px-4 py-0 md:py-4 md:px-8 lg:py-8 lg:px-20" id="post-{{ post.ID }}">
           <section class="article-content">
               <h1 class="article-h1 text-2xl font-bold">{{ post.title }}</h1>
               <p class="blog-author">
                   <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
               </p>
               <div class="article-body text-left">
                   {{ post.content }}
               </div>
           </section>
       </article>
   </div>


   
   <!-- /content-wrapper -->
{% endblock %}