{# TEMPLATE: SINGLE EVENTS.twig #}

{% extends "base.twig" %}

{% block content %}
	<style>
		.wp-block-image{
			margin: 1rem auto;
		}
		
		.article-body p{
			padding: 0 1rem;
		} 
		
		@media (min-width: 1024px){
			.article-body p{
				padding: 0 10rem;
			} 
		}
		@media (min-width: 768px){
			.article-body p{
				padding: 0 2rem;
			} 
		}
		@media (min-width: 640px){
			.article-body p{
				padding: 0 1rem;
			} 
		}
	</style>

    <div class="content-wrapper text-center sm:p-20 bg-black text-white"> <!-- Changed background to cream -->
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            <section class="article-content">
                <h1 class="article-h1 text-2xl font-bold">{{ post.title }}</h1>
                <p class="blog-author">
                    <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
                </p>
                <div class="article-body text-left">
                    {{ post.content }}
                </div>
            </section>
        </article>
    </div>

    <div class="debug p-8 bg-debug">
        {# useful for debugging, delete later #}
        <h1>Debug info</h1>
        <p class="pb-4">post name: {{ post.name }}</p>
        <p>file name: single-events.twig</p>
        {# Output what is in the post #}
        {# {{dump(post)}} #}
    </div>
    <!-- /content-wrapper -->
{% endblock %}

