{# TEMPLATE: SINGLE EVENTS.twig #}


{% extends "base.twig" %}


{% block content %}



   <div class="content-wrapper text-center sm:p-20 bg-black text-white"> <!-- Changed background to cream -->
       <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
           <section class="article-content w-[60rem] m-auto">
               <h1 class="article-h1 text-2xl font-bold">{{ post.title }}</h1>
               <p class="blog-author">
                   <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
               </p>
               <div class="m-auto article-body text-left w-[40rem] text-[21px] " id="single-events-page">
                   {{ post.content }}
               </div>
           </section>
       </article>
   </div>

   <!-- /content-wrapper -->
{% endblock %}