{% if posts.pagination.pages is not empty %}
    <nav class="pagination-block">
        <ul class="pagination flex justify-center">

            {# First #}
            {% if posts.pagination.pages|first and posts.pagination.pages|first.current != true %}
                <li class="first btn px-2">
                    <a href="{{ posts.pagination.pages|first.link }}">First</a>
                </li>
            {% else %}
                <li class="first btn disabled px-2">
                    <button disabled>First</button>
                </li>
            {% endif %}

            {# Previous #}
            {% if posts.pagination.prev %}
                <li class="prev btn px-2">
                    <a href="{{ posts.pagination.prev.link }}">Previous</a>
                </li>
            {% else %}
                <li class="prev btn disabled px-2">
                    <button disabled>Previous</button>
                </li>
            {% endif %}

            {# Pages #}
            {% for page in posts.pagination.pages %}
                {% if page.link %}
                    <li class="px-2">
                        <a href="{{ page.link }}" class="{{ page.class }}">{{ page.title }}</a>
                    </li>
                {% else %}
                    <li class="current px-2">
                        <span class="{{ page.class }}">{{ page.title }}</span>
                    </li>
                {% endif %}
            {% endfor %}

            {# Next #}
            {% if posts.pagination.next %}
                <li class="next btn px-2">
                    <a href="{{ posts.pagination.next.link }}">Next</a>
                </li>
            {% else %}
                <li class="next btn px-2 disabled">
                    <button disabled>Next</button>
                </li>
            {% endif %}

            {# Last #}
            {% if posts.pagination.pages|last and posts.pagination.pages|last.current != true %}
                <li class="last btn px-2">
                    <a href="{{ posts.pagination.pages|last.link }}">Last</a>
                </li>
            {% else %}
                <li class="last btn px-2 disabled">
                    <button disabled>Last</button>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}
